html{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
/* **************** !!! HEADER !!!******************** */
header{
    background-color: #472F88;
    height : 80vh;
    border: 1px solid yellow;
}

.headcontainer{
    display: flex;
    align-items: center;
    width: 80vw;
    margin: auto;
    height: 100%;
    border: 1px solid red;

}

.headattr{
    color: #ffffff;
    width: 35vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 1px solid blue;
}

.logo{
    height: 100px;
}

.title{
    font-size: 4rem;
}
.headbtn{
    height: 25px;
    width: 150px;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.btn-light{
    background-color: #fff;
    color: #472F88;
    border-color: #fff; 
    transition: .8s
}

.btn-light:hover{
    background-color: transparent;
    color: #fff;
}
/* **********!!! Main !!!********** */

/* ***Section 1 *** */
.maincontainer{
    width: 80vw;
    margin: auto;
}

.service{
    margin: 90px 0 120px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.itemgrille{
    height: auto;
    margin :15px 0;
    }
    .itemgrille h2{
        font-size: 1.77rem;
        font-weight: 700;
    }
    .itemgrille img{
        height: 121px;
        width: 144px;
}

/* ******Secteur 2***** */

h2{
    font-size: 1.77rem;
    font-weight: 700
}

.barre{
    background-color: #472F88;
    height: 10px;
    width: 100px;
    border-radius: 9px;
    margin-top: 21px;
}

.composant{
    display: grid;
    /* je lui ai demander de creer une grille avec 3 colonnes */
    /* repeat (3,1fr) est une autre maniuere d'ecrire 1fr 1fr 1fr */
    /* 1fr veux dire 1fraction de l'espace totale disponible ( une fraction de la ligne) */
    grid-template-columns: repeat(3,1fr);
    margin: 50px;
    

}

.grille{
    margin: 30px 0;
    width: 337px;
    height: 325px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .grille p{
        font-size: 1.8rem;
        font-weight: 700;
        color: #fff;
    }

.img1{
	background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.784), 
        rgba(6, 141, 190, 0.3),left right),  
    url(./pepinia/pepinieres_d_entreprise.png)

}

.img2{
	background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.784), 
        rgba(6, 141, 190, 0.3)),
    url(./pepinia/fablab.png);
}

.img3{
	background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.784), 
        rgba(6, 141, 190, 0.3)),
    url(./pepinia/residents.png);
}

.img4{
	background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.784), 
        rgba(6, 141, 190, 0.3)),
    url(./pepinia/nos_services.png);
}

/* --------Footer------- */
.foot{
    height: 300px;
    background-color: #472F88;
}
.footcontainer{
    width: 80vw;
    margin: auto;
    height: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    
}
.footcontainer h2{
    margin-bottom: 50px;
}
.footcard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color : white
}






#cg{
    flex-direction: row;
    text-decoration: none
}

.icn1{
    height: 48px;
}

.icn2{
    height: 70px;
    margin: -10px;
}